@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121212;
}

html,
body {
  background-color: #121212;
  color: #f0f0f0;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
