@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

html,
body {
  background-color: #ffffff;
  color: #202124;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
